@import "tailwindcss";

:root {
  /* Define your palette */
  --color-brand-orange: #f56e0f;
  --color-dark-gray: #151419;
  --color-light-gray: #fbfbfb;
  --color-muted: #878787;

  /* Semantic variables (Light Mode Default) */
  --background: var(--color-light-gray);
  --foreground: var(--foreground2);
  --foreground2: #1b1b1e;
  --foreground3: #262626;

  /* Font Variables */
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

/* Dark Mode Overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-dark-gray);
    --foreground: var(--color-brand-orange);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand: var(--color-brand-orange);
  --color-dark: var(--color-dark-gray);
  --color-light: var(--color-light-gray);
  --color-muted: var(--color-muted);

  --color-foreground2: var(--foreground2);
  --color-foreground3: var(--foreground3);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Global Styles */
@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }
}
